@import 'nib'


body
  font-family Roboto, sans-serif


.app-cmpt
  display flex

  *
    flex-shrink 0

  .example-wrapper
    padding 20px
    max-width 750px
    min-width 400px
    flex 1

    display flex
    justify-content center
    align-items center

  .menu-drawer-cmpt
    width 256px
    height 100%
