.clm-image-example-cmpt
  position relative

  .control-row
    display flex
    justify-content space-between
    align-items center

    .file-input
      visibility hidden
      position absolute

    .convergence-text
      background-color #cccc00
      transition background-color 0.2s
      min-width 100px

      &.good
        background-color #00FF00
